{% extends 'base.html' %}
{% block title %}
Inbox
{% endblock %}

{% block content %}
<hr>
<br>
<div class="container inbox">
  <div class="row">
    <div class="col-md-4 edger">
      <h4 class="chats">Chats</h4>
      <div class="bottem-line">
        <form action="{{ url_for('message.search_chat') }}" method="GET">
          <input type="text" placeholder="Search Chat" name="search" class="msg-input only-search" autocomplete="off">
          <button type="submit" class="send-button search-butn">Search</button>
        </form>
      </div>
      <div class="chat-list">
        {% for user in chats_list or [] %}
        <a class="link-color  {% if request.endpoint == 'message.chats' and request.view_args.others_id == chats_list[user]['id'] %} active {% endif %}" href="{{ url_for('message.chats', others_id=chats_list[user]['id']) }}#chat">
          <img src="{{ url_for('static', filename='images/avatars/' + chats_list[user]['pic']) }}" alt="img" class="chat-pics">
          <div class="tabs-style">
            <div class="chat-top-line">
              <span class="chat-name">{{ chats_list[user]["name"] }}</span>
              <span class="chat-time {% if chats_list[user]['unread'] %} unread-time {% endif %} ">{{ chats_list[user]["chat_time"] }}</span>
            </div>
            <div class="chat-bottom-line">
              <p class="last-msg {% if chats_list[user]['unread'] %} unread-last-msg {% endif %} ">{{ chats_list[user]["msg"] }}</p>
              {% if chats_list[user]["unread"] %}
                <span class="unread"> {{ chats_list[user]["unread"] }} </span>
              {% endif %}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    <div class="new-chat"><button class="button_styler"> <a href="{{ url_for('message.msg_send') }}" class="btn btn-primary send-color">New Chat</a> </button></div>
    </div>

    <div id="chat" class="col-md chat-box">
      {% if other %}
        
        <div class="head-name">
          <a href="{{ url_for('message.inbox') }}#">
            <i class="bi bi-box-arrow-left back-but"></i>
          </a>
          <a href="{{ url_for('social.view_profile', username=other.username) }}" class="profile-head">
          <img src="{{ url_for('static', filename='/images/avatars/' + other.profile.picture) }}" alt="pic" class="chat-pics mx-2">
          <div class="mx-2">
            <div class="{% if other.status != 'active' %} deleted-name {% endif %}">
                {{ other.profile.displayname }}
                {% if other.profile.verified == True %}  
                  <i class="bi bi-patch-check-fill verified-badge small-badge"></i>
                {% endif %}
            </div>
            <div class="head-un">
              {% if other.status == 'active' %}
                @{{ other.username }}
              {% endif %}
            </div>
          </div>
          </a> 
        </div>
        
          <div class="msg-scroll" id="scrollbox">
          {% for msg in all_msg %}
            {% if msg.datetime[1] %}
              <span class="date-box"> {{ msg.datetime[1] }} </span>
            {% endif %}
            {% if msg.sender.id == id %}
              <div class="msg my">
                <div class="my-bubble">
                 <span class="msg-text"> {{ msg.content }} </span>
                 <span class="msg-time"> {{ msg.datetime[0]}} 
                  {% if msg.read == False %}
                    <i class="bi bi-check2 read"></i>
                  {% else %}
                    <i class="bi bi-check2-all read"></i>
                  {% endif %}
                 </span>
                </div>
              </div>
            {% else %}
              <div class="msg other">
                <div class="other-bubble">
                 <span class="msg-text"> {{ msg.content }} </span>
                 <span class="msg-time"> {{ msg.datetime[0] }} </span>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        <div>
          <form action="{{ url_for('message.new_msg') }}#chat" method="POST">
            <input type="hidden" name="his_id" value="{{ other.id }}">
            <input type="text" name="newMsg" placeholder="Type a message" class="msg-input" autocomplete="off" autofocus>
            <button type="submit" class="send-button">Send</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% endblock %}

{% block scripts %}

  <script>
    function bottom_scroll(){
      const scroll_box = document.getElementById("scrollbox")
      scroll_box.scrollTop = scroll_box.scrollHeight
    }
    bottom_scroll()
  </script>

{% endblock %}