# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Flask
instance/

# SQLite
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Windows
Thumbs.db

app/static/images/avatars/*
!app/static/images/avatars/default.png