{% extends 'base.html'%}
{% block title %}
Settings
{% endblock %}

{% block content %}
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h4>Change Profile Picture</h4>
<div class="container change-pic">
  <div class="row">
    <div class="col-4 pic-form-shown">
      <img src="{{ url_for('static', filename='images/avatars/' + session['profile_picture']) }}" alt="current profile picture" class="profile-pic">
    </div>
    <div class="col pic-form">
      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <label for="picture"><h6>Upload Profile Picture</h6></label><br>
        <input class="upload" type="file" name="picture" accept="image/*" required><br><br>
        
        <button class="btn btn-primary send-color" type="submit">Update Picture</button>
      </form>
    </div>
  </div>
</div>

<h4>Change Display Name</h4>
<form action="{{ url_for('user.setting') }}" method="POST">
  <label for="disname">Display Name:</label>
  <input type="text" name="disname" placeholder="Enter new display name" value="{{ user.profile.displayname }}" required>
  <br>
  <br>
  <button class="btn btn-secondary active" type="submit">Change Name</button>
</form>
<br>

<h4>Change Bio</h4>
<form action="{{ url_for('user.setting') }}" method="POST">
  <div>
  <textarea name="bioData" id="bioData" rows="3" cols="40" placeholder="Bio..." maxlength="200">{% if user.profile.bio %}{{ user.profile.bio }}{% endif %}</textarea>
  </div>
  <br>
  <button class="btn btn-secondary active" type="submit">Change Bio</button>
</form>
<br>

<h4>Change Link</h4>
<form action="{{ url_for('user.setting') }}" method="POST">
  <div>
  <label for="link">Link:</label>
  <input type="url" name="link" placeholder="Enter a Link" {% if user.profile.link %} value="{{ user.profile.link }}" {% endif %}>
  <button class="btn btn-secondary active mx-2" type="submit">Change Link</button>
  </div>
</form>
<br>

<h4>Change Password</h4>
<form action="{{ url_for('user.setting') }}" method="POST">
    <label for="old_pass">Current Password:</label>
    &nbsp;&nbsp;
    <input type="password" name="old_pass" placeholder="Enter Current Password" required>
    <br>
    <label for="new_pass">New Password:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="password" name="new_pass" placeholder="Enter New Password" required>
    <br>
    <label for="confirm_pass">Confirm Passoword:</label>
    <input type="password" name="conf_pass" placeholder="Confirm Password" required>
    <br>
    <br>
    <button class="btn btn-secondary active" type="submit">Change Password</button>
</form>
<br>
<br>
<h4>Delete Account</h4>
<br>
<button type="button" class="btn btn-secondary active" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete my Account
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Account Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('user.delete') }}" method="POST">
          <div class="mb-3">
            <label for="confirm_pass" class="col-form-label">Confirm Password:</label>
            <input type="password" class="form-control" name="confirm_pass" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Confirm Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>

{% endblock %}