@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 1200px) {
    .col-md-4 {
        max-width: 330px !important;
    }
}

/* inbox */

@media (max-width:767px) {
    .chat-box {
        display: none;
    }
    .chat-box:target {
        display: flex;
        padding-right: 15px;
    }

    .chat-box:target ~ .edger {
        display: none;
        
    }
    .edger:target {
        margin-top: 10px;
    }

    .inbox {
        padding-right: 0;
        margin-top: -20px;
        height: calc(100dvh - 100px);
    }
    
    .msg-scroll {
        padding-right: 20px;
        padding-left: 10px;
    }
    
    .tabs-style {
        max-width: 83%;
    }
    
    .search-butn {
        right: 30px;
        top: 44%;
    }
    
}

/* navbar */

@media (max-width: 767px) {
  .no-collapse .navbar-collapse {
    display: flex !important;
    flex-direction: row !important;
  }
  .no-collapse .navbar-nav {
    flex-direction: row !important;
  }
  .nav-bar {
    margin-bottom: -20px;
  }
}

/* profile */

@media (max-width: 767px) {
    .profile-box {
        margin-top: 35px;
    }

    .profile-box .row{
        display:flex;
        flex-wrap:wrap;
    }

    .profile-pic {
        max-width: 120px;
        padding: 0;
        margin-left: 0px;
        width:100%;
        margin-top: 10px;
    }

    .names {
        margin-top: 15px;
        padding-left: 5px;
        width: 60%;
        margin-left: 21px;
    }

    .stats{
        max-width: 60%;
        margin-top: -40px;
        margin-left: 34%;
    }

    .bio{
        width: 85%;
        margin-left: 5%;
        margin-top: -105px;
    }
  
    .setting-box {
        margin-left: 65%;
        max-width: 220px;
        margin-top: -10px;
    }

    .setting-style {
        margin-top: 35px;
        font-size: 15px;
    }

    .setting-size {
        padding: 0;
        margin-right: 5px;  
    }

    .exam-box {
        margin-top: 50px;
        padding-right: 0;
        margin-left: 0px;
    }

    .exam-button {
        margin-bottom: 10px;
    }

    .exam-box .btn{
    margin-bottom:8px;
    }

    /* meme page */

    .meme {
        max-width: 100%;
    }
}

/* profile Picture Setting*/

@media (max-width: 767px) {
    .change-pic {
        max-width: 100%;
    }
    .pic-form-shown {
    margin-right: 0px;
    }
    .upload{
        margin-right: 0px;
        max-width: 100px;
    }
    .small-name {
        width: 100%;
    }
    
}

@media (max-width: 450px) {
    .names {
        font-size: 14px;
        margin-left: 15px;
        padding-right: 0;
    }

    .stats {
        margin-top: -30px;
    }

    .each-stat {
        padding: 5px;
    }

    .small-name {
        font-size: 20px;
        width: 100%;
    }
}