@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
    }
}

@media (max-width:767px) {
    .chat-box {
        display: none;
    }
    .chat-box:target {
        display: flex;
        padding-right: 15px;
    }

    .chat-box:target ~ .edger {
        display: none;
        
    }
    .edger:target {
        margin-top: 10px;
    }

    .inbox {
        padding-right: 0;
        margin-top: -20px;
        height: calc(100dvh - 135px);
    }
    
    .msg-scroll {
        padding-right: 20px;
    }
    
    .navbar_style {
        margin-bottom: -20px;
    }
    
}
