html, body {
  height: 100%;
}

.navbar_style {
    background-color: #29292b;
     margin-top: -25px;
     padding: 8px; color: white;
     --bs-nav-link-color: white;
     --bs-nav-link-hover-color: #8d8d8d;
}

.inbox {
    background-color: #202529;
    border-radius: 10px;
    height: calc(100vh - 180px);          /* or calc(100vh - headerHeight) */
    color: white;
    overflow: hidden;
    font-size: 16px;
}

.inbox > .row {
    height: 100%;
    
}

.edger {
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0%;
    padding-right: 0%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.head-name {
    padding: 12px;
    font-weight: bold;
    border-bottom: 0.5px solid #6d6d6d;
    text-align: left;
    position: sticky;
    background: #202529;;
    top: 0;
    z-index: 10;
}

.button_styler {
    border: #ffffff;
    background-color: #202529;
    position: sticky;
    bottom: 0;
}

.send-color {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4a5df9;
    --bs-btn-border-color: #4a5df9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5f72fd;
    --bs-btn-hover-border-color: #5f72fd;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4a5df9;
    --bs-btn-active-border-color: #4a5df9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4a5df9;
    --bs-btn-disabled-border-color: #4a5df9;
}

.link-color {
    text-decoration: none;
    color: white;
}

.tabs-style {
    background-color: #202529;
    transition: background-color 0.3s ease;
    padding: 15px;
    transition: padding 0.2s ease;
    margin-top: -17px;
    margin-bottom: -17px;
}

.tabs-style.active {
    background-color: #333333;
}

.tabs-style:hover {
    background-color: #383f46;
    padding: 17px;
}

.msg {
    display: flex;
    margin: 5px 0;
}

.msg.my {
    justify-content: flex-end;
}

.msg.other {
    justify-content: flex-start;
}

.other-bubble {
    background-color: #008ad8;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    margin: 2px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 15px 15px 0;
    max-width: 60%;
}


.my-bubble {
    background-color: #3e4144;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin: 2px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 15px 0 15px;
    max-width: 60%;
}

.chat-box {
    border-left: 1px solid #3a3a3a;
    padding-left: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-right: 25px;
    margin-left: -20px;
    
}


.msg-scroll {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-right: 30px;
    
}



/* Scroll Bars */


/* Chrome, Edge, Safari */
.msg-scroll::-webkit-scrollbar {
    width: 8px;
}

.msg-scroll::-webkit-scrollbar-track {
    background: #202529;   /* dark background */
}

.msg-scroll::-webkit-scrollbar-thumb {
    background-color: #3e4144;  /* scrollbar */
    border-radius: 10px;
}

.msg-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox */
.msg-scroll {
    scrollbar-width: thin;
    scrollbar-color: #3e4144 #202529;
}



.msg-input {
    width: 85%;
    height: 40px;
    background-color: #202529;
    margin-bottom: 18px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #6d6d6d;
    margin-top: 10px;
    padding-left: 20px;
    color: white;
}

.send-button {
    background-color: #202529;
    color: #008ad8;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    transition: background-color 0.3 ease;
}

.send-button:hover {
    background-color: #008ad8;
    color: white;
}

.chats {
    padding-left: 20px;
    text-align: left;
    margin-bottom: 0;
    border-bottom: 0.5px solid #6d6d6d;
    padding-bottom: 15px;
    margin-top: 0;
    
}

.chat-list {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-top: 15px;
}

.new-chat {
    background-color: #202529;
    margin-bottom: 35px;
}

.back-but {
    color: white;
    font-size: 18px;
}