html, body {
  height: 100%;
}

* {
    box-sizing: border-box;
}

.nav-bar {
    background-color:#29292b;
}

.nav-bar .nav-item {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-bar .nav-link {
  color: white;
  font-size: 17px;
  position: relative;
}

.nav-bar .nav-link:hover {
  color: #8d8d8d;
}

.nav-bar .navbar-brand {
  display: none;
}

.notification-dot {
    width: 7px;
    height: 7px;
    background: #5766dd;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: -1px;
}



.inbox {
    background-color: #202529;
    border-radius: 10px;
    height: calc(100vh - 180px);          
    color: white;
    overflow: hidden;
    font-size: 16px;
}

.inbox > .row {
    height: 100%;
    
}

.edger {
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0%;
    padding-right: 0%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.head-name {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px;
    font-weight: bold;
    border-bottom: 0.5px solid #6d6d6d;
    text-align: left;
    position: sticky;
    background: #202529;;
    top: 0;
    z-index: 10;
    margin-bottom: 10px;
}

.head-un {
    font-weight: normal;
    color: rgb(180, 180, 180);
}

.profile-head {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
}

.button_styler {
    border: #ffffff;
    background-color: #202529;
    position: sticky;
    bottom: 0;
}

.send-color {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4a5df9;
    --bs-btn-border-color: #4a5df9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5f72fd;
    --bs-btn-hover-border-color: #5f72fd;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4a5df9;
    --bs-btn-active-border-color: #4a5df9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4a5df9;
    --bs-btn-disabled-border-color: #4a5df9;
}

.link-color {
    text-decoration: none;
    color: white;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 0.5px solid #6d6d6d;

    transition: background-color 0.3s ease;
    transition: padding 0.2s ease;
}

.tabs-style {
    padding: 12px 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0px;
    text-align: left;
    flex: 1;
    padding-right: 10px;
}

.link-color.active {
    background-color: #333333;
}

.link-color:hover {
    background-color: #383f46;
    padding: 2px;
}

.msg {
    display: flex;
    margin: 5px 0;
}

.msg.my {
    justify-content: flex-end;
}

.msg.other {
    justify-content: flex-start;
}

.other-bubble {
    background-color: #008ad8;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
    border-radius: 17px 17px 17px 0;
    max-width: 60%;
    text-align: start;
}


.my-bubble {
    background-color: #3e4144;
    display: inline-block;
    margin: 2px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 5px;
    border-radius: 17px 17px 0 17px;
    max-width: 60%;
    text-align: start;

}

.my-bubble::after,
.other-bubble::after {
    content: "";
    display: table;
    clear: both;
}

.chat-box {
    border-left: 1px solid #3a3a3a;
    padding-left: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-right: 25px;
    margin-left: -20px;
    
}


.msg-scroll {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-right: 30px;
    
}

.msg-time {
    float: right;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.733);
    white-space: nowrap;
    margin-left: 8px;
    line-height: 2;
    vertical-align: baseline;
    position: relative;
    top: 6px;
}

.read {
    font-size: 14px;
    position: relative;
    top: 2px;
}

.msg-text {
    display: inline;
    line-height: 1;
}





/* Scroll Bars */


/* Chrome, Edge, Safari */
.msg-scroll::-webkit-scrollbar {
    width: 8px;
}

.msg-scroll::-webkit-scrollbar-track {
    background: #202529;   /* dark background */
}

.msg-scroll::-webkit-scrollbar-thumb {
    background-color: #3e4144;  /* scrollbar */
    border-radius: 10px;
}

.msg-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox */
.msg-scroll {
    scrollbar-width: thin;
    scrollbar-color: #3e4144 #202529;
}



.msg-input {
    width: 85%;
    height: 40px;
    background-color: #202529;
    margin-bottom: 18px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #6d6d6d;
    margin-top: 11px;
    padding-left: 20px;
    color: white;
}

.send-button {
    background-color: #202529;
    color: #008ad8;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    transition: background-color 0.3 ease;
}

.send-button:hover {
    background-color: #008ad8;
    color: white;
}

.chats {
    padding-left: 20px;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 15px;
    margin-top: 0;
    
}

.chat-list {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.chat-list a {
    width: 100%;
}

.new-chat {
    background-color: #202529;
    margin-bottom: 35px;
}

.back-but {
    color: white;
    font-size: 21px;
}


.chat-pics {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.chat-top-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chat-time {
    font-size: 13px;
    color: rgb(141, 141, 143);
}

.date-box {
    background-color: #3d4349;
    padding: 4px;
    border-radius: 5px;
    margin: 5px;
    font-size: 11px;
    color: rgb(183, 182, 187);
}

.chat-bottom-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.last-msg {
    color: rgb(180, 180, 180);
    font-size: 14px;
    margin: 0;

    flex: 1;
    min-width: 0;
    margin-right: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unread {
    background-color: #4255e4;
    color: white;
    font-size: 11px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    flex-shrink: 0;
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 3px;
}

.unread-time {
    color: #828eec !important;
}

.unread-last-msg {
    color: white !important;
    font-weight: 500;
    margin-right: 5px;
}


/* inbox end */



.profile-pic {
    aspect-ratio: 1 / 1;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 15px;
}

.nav-profile {
    aspect-ratio: 1 / 1;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
    margin-right: 8px;
    margin-top: -3px;
}

.profile-box {
    max-width: 1000px !important;
    margin-top: 20px;
}

.names {
    margin-top: 30px;
    text-align: start;
    padding-left: 20px;
    /* margin-left: 30px; */
}

.small-name {
    width: 200%;
}

.verified-badge {
    color:#1DA1F2;
    font-size:20px;
    margin-left:5px;
}

.small-badge {
    font-size: 17px;
}

.stats {
    margin-top: 60px;
    font-weight: 500;
}

.each-stat {
    background-color: white;
    border-radius: 12px;
    margin: 0 2px;
    padding: 10px;
    transition: background-color 0.3 ease;
}

.each-stat:hover {
    background-color: #f0f2f5;
}

.stat-link {
    text-decoration: none;
    color: inherit;
    display: inline;
    margin-top: 9px;
}

.bio {
    min-width: 0;
    width: 50%;
    margin-top: -55px;
    margin-left: 260px;
    font-weight: 400;
    white-space: pre-line;
    text-align: start;

}

.profile-link {
    text-decoration: none;
    color: #4a5df9;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-link:hover {
    text-decoration: underline;
}

.setting-style {
    margin-top: 45px;
    color: white;
    font-size: 17px;
    margin-bottom: 3px;
    
}

.butn-box {
    margin-top: 30px;
}

.profile-button {
    width: 270px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #4a5df9;
    color: white;
    border-radius: 10px;
    align-items: center;
    padding-top: 9px;
    font-size: 16px;
    font-weight: 500;
}

.profile-button:hover {
    background-color: #3a51fd;
    color: white;
}

.butn-inv {
    background-color: #64696d;
}

.butn-inv:hover {
    background-color: #565a5e;
}

.follow-btn {
    padding-top: 6px;
}

.sett {
    margin-right: 5px;
}


.change-pic {
    max-width: 650px !important;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.pic-form-shown {
    margin-right: 85px;
}

.upload {
    margin-right: -190px;
    margin-top: 8px;
    margin-bottom: -2px;
    
}

.bottem-line {
    border-bottom: 0.5px solid #6d6d6d;
    margin-top: -10px;
    width: 100%;
    
}

.bottem-line form {
    position: relative;
    width: 100% !important;
}

.only-search {
    width: 90% !important;
    padding-right: 80px;
}

.search-butn {
    position: absolute;
    right: 21px;
    top: 45%;
    transform: translateY(-50%);
    
    background-color: transparent; /* looks cleaner inside */
    color: #008ad8;
    border: 0;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
}

.meme {
    max-width: 750px;
}

.deleted-name {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
}

.custom-modal {
    background-color: white;
    height: 420px;
    width: 600px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
}

.modal-head {
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.close-btn {
    text-decoration: none;
    float: right;
    position: relative;
    top: -14px;
    right: 5px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.589);

}
.modals-body {
    padding: 5px;
    background-color: pink;

}

.modal-item {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}

.follower-profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.follower-name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-left: 13px;
}

.follower-Dname {
    font-weight: 500;
    color: black;
}

.follower-Uname {
    margin-top: -2px;
    color: rgba(0, 0, 0, 0.7) ;
}

.modal-follow-btn {
    margin-right: 3px;

}


