{% extends 'base.html'%}
{% block title %}
{{ user.profile.displayname }}
{% endblock %}

{% block content %}

{% if followList %}

  <div class="custom-modal-overlay">
    <div class="custom-modal">
      <a href="{{ url_for('social.view_profile', username=user.username) }}" class="close-btn">&times;</a>
      <div class="modal-head">
        <h4 style="margin-left: 15px;"> {{ user.followInfo }}  </h4>
      </div>
      {% for follow in followList %}
        <div class="modal-item">{{ follow.follower.profile.displayname }}</div>
      {% endfor %}
    </div>
  </div>

{% endif %}

<div class="container profile-box">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <div class="row align-items-start">
    <div class="col-md-3 col-4">
      <img src="{{ url_for('static', filename='images/avatars/' + user.profile.picture) }}" alt="profile picture" class="profile-pic">
    </div>
    <div class="col-md-4 col-6 names">
      <h3 class="small-name"><b>{{ user.profile.displayname }}</b>
        {% if user.profile.verified == True %}  
          <i class="bi bi-patch-check-fill verified-badge"></i> </h3>
        {% endif %}
        <h5>@{{ user.username }}</h5>
    </div>

    <div class="col-md-4 col stats">
      <div class="d-flex justify-content-between">
          <span class="each-stat">0 Posts</span>
          <a href="{{ url_for('social.view_profile_follows', username=user.username, follow='followers') }}" class="stat-link"><span class="each-stat">{{ user.followers }} Followers</span></a> 
          <a href="{{ url_for('social.view_profile_follows', username=user.username, follow='following') }}" class="stat-link"><span class="each-stat">{{ user.following }} Following</span></a>
      </div>

    </div>
      
  </div>
  <div class="row">
    <div class="col-md-8 col-12">
      <div class="bio">
        {%- if user.profile.bio %}
          {{ user.profile.bio }}
        {%- endif %}
        {%- if user.profile.link %}
          <a href="{{ user.profile.link }}" target="_blank" class="profile-link" title="{{ user.profile.link }}"><i class="bi bi-link-45deg fs-5"></i>  {{ user.profile.link.replace('https://','').replace('http://','').replace('www.','') }}</a>
        {%- endif %}
      </div>
    </div>
  </div>
  <div class="row justify-content-center butn-box">
      <div class="col-md-8 col px-0">
        {% if user.id == session['user_id'] %}
          <a href="{{ url_for('user.setting') }}" class="btn btn-secondary profile-button butn-inv">Edit Profile</a>
          <a href="{{ url_for('exam.result') }}" class="btn btn-primary profile-button">View Stats</a>
        {% else %}
          {% if user.followStatus %}
            <form action="{{ url_for('social.unFollow') }}" method="POST" class="d-inline">
              <input type="hidden" name="followed_id" value="{{ user.id }}">
              <button type="submit" class="btn btn-secondary profile-button follow-btn butn-inv">Unfollow</button>
            </form>
          {% else %}
          <form action="{{ url_for('social.follow') }}" method="POST" class="d-inline">
            <input type="hidden" name="followed_id" value="{{ user.id }}">
            <button type="submit" class="btn btn-primary profile-button follow-btn">Follow</button>
          </form>
          {% endif %}
          <a href="{{ url_for('message.chats', others_id=user.id) }}#chat" class="btn btn-secondary profile-button butn-inv">Message</a>
        {% endif %}
      </div>
  </div>
  <br>
  {% if user.id == session['user_id'] %}
  <div class="col setting-box">
        <!-- <a href="{{ url_for('user.setting') }}" class="btn btn-secondary setting-style"><i class="bi bi-gear-fill sett"></i>Settings</a> -->
        <form action="{{ url_for('auth.logout') }}" method="POST">
          <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 2px;">Logout</button>
        </form>
  </div>
  {% endif %}
</div>




{% endblock %}