{% extends 'base.html'%}
{% block title %}
Words Adding
{% endblock %}

{% block content %}
<h1>Words Adding Page!</h1>
<form action="{{ url_for('game.adding') }}" method="POST">
    <label for="word">Word:</label>
    <input type="text" name="word" placeholder="Enter a Word" required>
    <br><br>
    <button type="submit">Enter</button>
    <br>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}