<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Base {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
</head>
<body style="text-align: center;">
  <div class="app">
    
    <header class="navbar">
      <div class="nav-left">
        <span class="logo">
          <img class="logo-img" src="{{ url_for('static', filename='/images/logo.png') }}" alt="logo">
        </span>
      </div>

      <div class="nav-center">
        <div class="search-box">
          <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /> </svg></span>
          <input type="search" placeholder="Search..." id="search">
        </div>
      </div>

      <div class="nav-right">
        <button id="menu-toggle" class="menu-toggle">☰</button>
        <div class="dropdown" id="dropdown">
          <a href="#">Dg</a>
          <a href="#">ga</a>
          <a href="#">Seghw</a>
        </div>
      </div>
    </header>

    <div class="layout">

      <aside class="sidebar">
        <a href="#">Dashboard</a>
        <a href="#">Tasks</a>
        <a href="#">Settings</a>
      </aside>

      <main class="content">
        <div class="inner-content">
          {% block content %} {% endblock %}
        </div>
      </main>
    </div>
  </div>

<!-- Feedbacks -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Feedback</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Report a Bug</button><br> <br>
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Request a Feature</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Bug report -->

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Report a Bug</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('support.feedback') }}" method="POST">
          <div class="mb-3">
            <label for="bugName" class="col-form-label">Title:</label>
            <input type="text" class="form-control" name="bugName" id="bugName" placeholder="What bug are you facing?" required autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="bugDescription" class="col-form-label">Description:</label>
            <textarea class="form-control" name="bugDescription" id="bugDescription" required placeholder="Describe the bug your facing..."></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Request a Feature -->

<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel3">Request a Feature</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('support.feedback') }}" method="POST">
          <div class="mb-3">
            <label for="featureName" class="col-form-label">Title:</label>
            <input type="text" class="form-control" name="featureName" id="featureName" placeholder="What Feature do you want?" required autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="featureDescription" class="col-form-label">Description:</label>
            <textarea class="form-control" name="featureDescription" id="featureDescription" placeholder="Please Describe the Feature you want.." required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Report user -->

<div class="modal fade" id="exampleModalR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Report a User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-start">
        <form action="{{ url_for('support.report') }}" method="POST">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="catagory" id="radioDefault1" value="spam" required>
            <label class="form-check-label" for="radioDefault1">Spam</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="catagory" id="radioDefault2" value="abuse">
            <label class="form-check-label" for="radioDefault2">Abuse</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="catagory" id="radioDefault3" value="inappropriateContent">
            <label class="form-check-label" for="radioDefault3">Inappropriate Content</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="catagory" id="radioDefault4" value="other">
            <label class="form-check-label" for="radioDefault4">Other</label>
          </div>
          <div class="mb-3">
            <label for="userName" class="col-form-label">Username:</label>
            <input type="text" class="form-control" name="userName" id="userName" placeholder="User you want to report" required autocomplete="off">
          </div>
          <div class="mb-3">
            <label for="reportDescription" class="col-form-label">Description:</label>
            <textarea class="form-control" name="reportDescription" id="reportDescription" placeholder="Please describe the violation.."></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

    {% block scripts %} {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </html>