{% extends 'base.html'%}
{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="container profile-box">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <div class="row">
    <div class="col-3">
      <img src="{{ url_for('static', filename='images/avatars/' + session['profile_picture']) }}" alt="profile picture" class="profile-pic">
    </div>
    <div class="col names">
      <h3>{{ display_name }}</h3>
      <h6>@{{ name }}</h6>
    </div>
    <div class="col-3 setting-size">
        <a href="/settings" class="btn btn-secondary setting-style"><i class="bi bi-gear-fill sett"></i>Settings</a>
        <form action="/logout" method="POST">
          <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 2px;">Logout</button>
        </form>
    </div>
    <div class="row justify-content-center exam-box">
      <div class="col-8">
          <a href="{{ url_for('exam.exam') }}" class="btn btn-info exam-button">Start Exam</a>
          <a href="{{ url_for('exam.result') }}"" class="btn btn-success exam-button">View Result</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}