{% extends 'base.html'%}
{% block title %}
Home
{% endblock %}

{% block content %}
<h2>Welcome to home page!</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<img src="{{ url_for('static', filename='images/picture.png') }}" class="img-fluid" alt="programmer">
{% endblock %}