{% extends 'base.html' %}
{% block title %}
Inbox
{% endblock %}

{% block content %}
<hr>
<br>
<div class="container inbox">
  <div class="row">
    <div class="col-md-3 edger">
      <h4 class="chats">Chats</h4>
      
      <div class="chat-list">
        {% for user in msged_users %}
        <a class="link-color" href="{{ url_for('message.chats', others_id=user.id) }}#chat">
          <div class="tabs-style {% if request.endpoint == 'message.chats' and request.view_args.others_id == user.id %} active {% endif %}">{{ user.username }}</div>
        </a>
        <hr>
        {% endfor %}
      </div>
    <div class="new-chat"><button class="button_styler"> <a href="{{ url_for('message.msg_send') }}" class="btn btn-primary send-color">New Chat</a> </button></div>
    </div>

    <div id="chat" class="col-md chat-box">
      {% if all_msg %}
        
        <div class="head-name"><a href="{{ url_for('message.inbox') }}#"><i class="bi bi-box-arrow-left back-but"></i></a>&nbsp;&nbsp; {{ other.username }}</div>
        
          <div class="msg-scroll">
          {% for msg in all_msg %}
            {% if msg.sender.id == id %}
              <div class="msg my">
                <div class="my-bubble">{{ msg.content }}</div>
              </div>
            {% else %}
              <div class="msg other">
                <div class="other-bubble">{{ msg.content }}</div>
              </div>
            {% endif %}
          {% endfor %}
          </div>
        <div>
          <form action="{{ url_for('message.new_msg') }}#chat" method="POST">
            <input type="hidden" name="his_id" value="{{ other.id }}">
            <input type="text" name="newMsg" placeholder="Type a message" class="msg-input">
            <button type="submit" class="send-button">Send</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
</div>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </ul>
    <br>
  {% endif %}
{% endwith %}
{% endblock %}